<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.PersonMapper">
<select id="findUserPage" parameterType="personVo" resultType="personVo">
select p.*,c.express_cname as cname from express_person p,express_company c 
where
p.express_type_id=c.express_type_id
<if test="expressName!=null and expressName!=''">
and p.express_name like '%${expressName}%'
</if>
<if test="expressTypeId!=null and expressTypeId!=0">
and p.express_type_id=#{expressTypeId}
</if>
<if test="begin!=null">
and p.entry_time &gt;=#{begin}
</if>
<if test="end!=null">
and p.entry_time &lt;=#{end}
</if>
</select>
</mapper>